* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  width: 80%;
}

.container-jumbotron {
  background: #1f4037; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #99f2c8,
    #1f4037
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #99f2c8,
    #1f4037
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
}

.container-presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
}

.container-reportajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background-color: #4e733d;
  width: 100%;
  padding: 0 3em;
  padding-bottom: 70px;
}

.contacto-jumbotron {
  color: antiquewhite;
  padding-top: 50px;
  padding-right: 50px;
  text-align: center;
}

.foto-jumbotron {
  background-image: url(https://www.latercera.com/resizer/2ttZq-kGxwk2S7e4fZvroArKpFg=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/KBEGHVGZMJASXCXETMQHUIT564.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titulo-seccion {
  font-family: "raleway" "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: bold;
  padding-top: 50px;
  color: antiquewhite;
  text-align: center;
}

.productos {
  padding-top: 100px;
}

.prod {
  padding-top: 15px;
  padding-left: 20px;
  color: #196a73;
}

.tienda {
  color: antiquewhite;
}

.login {
  align-content: flex-start;
}

.letranegra ul li a {
  color: green;
}

.articulo {
  background-color: #648c66;
  height: 400px;
  width: 100%;
  border: 3px solid #196a73;
}

.container-articulo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  align-content: center;
}

.container-productos {
  background-color: #196a73;
  width: 100%;
}

.container-comentarios {
  background-color: #196a73;
  width: 100%;
  padding: 0 2em;
  padding-bottom: 50px;
}

.tomate-div {
  position: relative;
  top: -100px;
  z-index: 1;
}

.opinion {
  background-color: antiquewhite;
  height: 100px;
  width: 100%;
  border: 1px solid rgb(76, 0, 255);
}

.contacto-final {
  background-color: #00ada2;
}

/* .container-principio {
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 2fr));
  background-color: #347025;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  /*padding-bottom: 50px;*/
/* }  */
.presentacion2{
  display: grid;
  
  grid-auto-rows: 25rem;
  grid-template-columns: (auto-fill, minmax(min(100%, 25rem), 1fr));
  
}
.texto{
    display: grid;
    color: antiquewhite;
    
    padding-top: 10px;
    background-color: #347025;
}
.presentacion{
 margin-left: 10px;
 margin-top: 20px;
 font-size: small;
 margin-right: 15px;

}




.img-logo {
  size: 30px;
  padding-top: 50px;
  margin-top: 20px;
}

/* .a-carroussel {
  text-size-adjust: 20px;
} */

h1 {
  margin-top: 0;
  margin-left: 50px;
}
/* .texto-presentacion {
  margin-top: 30px;
  color: antiquewhite;
  width: auto;
  font-size: 100%;
} */
/* .presentacion pre {
  text-align: start;
  padding-top: 100px;
} */

h3 {
  font-family: "raleway";
  font-weight: bold;
  font-size: 20px;
}

.lista-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.input {
  background: transparent;
  border: 0;
  color: antiquewhite;
  outline: none;
  border: 1px solid white;
  padding: 20px 10px;
}

.input::placeholder {
  color: antiquewhite;
  font-family: "raleway", "sanserif";
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: green;
  background: antiquewhite;
}

.titulo {
  font-family: "raleway";
  color: antiquewhite;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 12px 15px;
  border-radius: 8px;
  color: antiquewhite;
  margin-bottom: 10px;
}

.carrousel.titulo {
  color: antiquewhite;
}
.cta1 {
  display: grid;
  text-decoration: none;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 70px;
  justify-content: center;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  color: antiquewhite;
  margin-top: 40px;
  /*margin-left: 655px;*/
  transform: scale(1);
  transition: transform 0.6s;
}

.cta1:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.cta2 {
  display: inline-block;
  text-decoration: none;
  background-color: #96c93d;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  color: antiquewhite;
  margin-top: 40px;
  margin-left: 660px;
  transform: scale(1);
  transition: transform 0.6s;
}

.cta2:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.cards-contenedor {
  width: 100%;
  background-color: #146669;
  padding: 0 50px;
}
.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 20px;
}

.card {
  width: 200px;
  text-align: center;
  min-height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.img-productos {
  width: 180px;
  height: 180px;
  padding-top: 20px;
}

.card p {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
  flex: 1; /*ocupar espacio disponible*/
}

/* ICONOS COMPRAS REVISAR */
.img-productos a i {
  padding: 100px;
}

.img-verduras {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 40px;
}
.container-calificacion {
  display: grid;
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 2fr));
  gap: 2em;
}

.img-tomate {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 180px;
  top: 150px;
  right: 60px;
  z-index: 10;
}
.foot {
  display: flex;
  background-color: #49b985;
  height: 130px;
  width: 100%;
}

.container-comentarios i {
  color: yellow;
}

.comentario-texto {
  color: antiquewhite;
}

.container-foot {
  display: flex;
  width: 100%;
}
.container-foot i {
  background-clip: gitgit;
  margin-top: 40px;
  margin-left: 50px;
  color: #14691f;
  font-size: 60px;
  justify-content: end;
}

.marca {
  margin-top: 60px;
  justify-content: center;
  align-content: center;
  padding-right: 100px;
}

@media screen and (max-width: 500px) {
  .container-articulo {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .cards-contenedor {
    grid-template-columns: 1fr;
  }
}

/*@media screen and (max-width: 400px) {
  .container-principio {
    display: inline-flex;
    
  }
}*/

@media screen and (max-widht: 496px) {
  .cards-contenedor {
    padding: 0 100px;
  }
}
@media screen and (max-widht: 496px) {
  .cards-co {
    padding: 0 100px;
  }
}
